.container {
    display: flex;
    justify-content: center;
}

.container-dropdown {
    display: flex;
    justify-content: center;
    padding: 50px  16px 50px 50px;
    margin: 10px;
    gap: 20px;
    text-decoration: none;
    
}
.container span a {
    display: flex;
    text-decoration: none;
}

.dropdown {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    margin-top: 18px;
    margin-left: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px  ;
    text-decoration: none; 
    display: block;
}

.dropdown span a:hover  {
    color: greenyellow; 
    text-decoration: underline; 
    background-color: transparent; 
    text-decoration-color: blue;
}

.dropdown-content a:hover {
    
    background-color: greenyellow;
   
}


.dropdown:hover .dropdown-content {
    display: block;
}




